*{
  margin: 0;
  padding: 0px;
}
body{
  background-image: url(../images/loginimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
  background-color: rgba(25,25,25,0.5)
}
a{
  color: #fff;
  text-decoration: none;
}
article{
  background-color: rgba(2, 2, 2, 0.8);
}
