*{
  padding: 0px;
  margin: 0px;
}
header{
  display: flex;
  text-align: center;
  background-color: rgba(0,0,0, 0.9);
  color: #fff;
}
header a{
  flex-grow: 1;
  text-decoration: none;
  color: #fff;
  padding: 10px 1px;
}
header h1{
  flex-grow: 10;
  padding-bottom: 2px;
}
body{
  background-color: rgba(0,0,0, 0.1);
}
