*{
  padding: 0px;
  margin: 0px;
}
header{
  display: flex;
  text-align: center;
  background-color: rgba(0,0,0, 0.9);
  color: #fff;
}
header a{
  flex-grow: 1;
  text-decoration: none;
  color: #fff;
  padding: 10px 1px;
}
header h1{
  flex-grow: 10;
  padding-bottom: 2px;
}
body{
  background-color: rgba(0,0,0, 0.1);
}
article{
  margin: 0 10%;
  text-align: center;
}
form div{
  margin: 10px;
  display: flex;
}
form div label{
  grid-column: 1;
  grid-row: 2 / 2;
}
