*{
  padding: 0px;
  margin: 0px;
}
header{
  display: flex;
  text-align: center;
  background-color: rgba(0,0,0, 0.9);
  color: #fff;
}
header a{
  flex-grow: 1;
  text-decoration: none;
  color: #fff;
  padding: 10px 1px;
}
header h1{
  flex-grow: 10;
  padding-bottom: 2px;
}
body{
  text-align: center;
}
#regform{
  margin: 0 40%;
}
form{
  margin: auto;
  text-align: center;
  background-color: rgba(46,64,84, 0.9);
  color: #fff;
  padding: 20px;
}
div{
  margin: 5px;
  display: grid;
  grid-template-columns: 120px 200px;
  grid-column-rows: 20px;
  align-items: center;
}
div label{
  padding-top: 3px;
  font-size: 18px;
}
div input{
  height: 20px;
}
div select{
  height: 20px;
}
#submit{
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 2px;
  height: 40px;
  width: 80px;
  padding: 5px;
  color: #2e4054;

  margin-bottom: 20px;
}
