doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    script(src="https://use.fontawesome.com/cb1b821ad2.js")
  body
    main
      header
        img(src='/images/logo.png' height='40px' width='40px')
        a(class='fa fa-cog' href='#')
        a(class='fa fa-sign-out' href='#') Sign out
      article
        section
          form
            input(type='text')
        section
