doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    script(src="https://use.fontawesome.com/cb1b821ad2.js")
  body
    main
      header
        h1 #{title}
        div(id='head-login')
          a(href='/login' class='fa fa-sign-in')  login
          a(href='register' class='fa fa-pencil-square-o')  register
      article(id='head-article')
        h4 #{title} for School Data Management
    article(id='main-content')
      div(id='info1')
        h3 Fast
        h4(class='fa fa-space-shuttle')
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      div(id='info2')
        h3 Efficient
        h4(class='fa fa-bar-chart')
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      div(id='info3')
        h3 Free
        h4(class='fa fa-money')
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    footer
      p Done by Ronique Ricketts
