doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src="https://use.fontawesome.com/cb1b821ad2.js")
  body
    header
      a(href='/' class='fa fa-home' id='home') home
      h1
        a(href='/login')  Login
    article
      h4 Home for all school data and tables
      div(id='userlogin')
        div(id='icon')
          i(class='fa fa-users fa-2x')
        form(id='loginForm' method='post' action='/loginUser')
          label(for='email' name='email' required='true') Email
          input(id='email' type='text' placeholder='username@domain.com')
          label(name='password' required='true') Password
          input(id='password' type='password')
          div(class='button-row')
            button(type='submit') Submit
          a(href='/reset' id='forget') Reset Password
