doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src="https://use.fontawesome.com/cb1b821ad2.js")
  body
    h1
      a(href='/' class='fa fa-home')  Home
    article
      h4 Home for all school data and tables
      p Login to access #{appName} Data.
      div(id='userlogin')
        i(class='fa fa-user')
        form(id='loginForm')
          label(name='email')
          input(id='email' type='text' placeholder='username@domain.com')
          label(name='password')
          input(id='password' type='password')
          input(type='submit')
