doctype html
html
  head
  title= title
  link(rel='stylesheet', href='/stylesheets/signup.css')
  script(src="https://use.fontawesome.com/cb1b821ad2.js")
  body
    header
      a(class='fa fa-home' href='/') Home
      h1 #{title}
      a(class='fa fa-sign-in' href='/login') Login
    article
      h3(id='warning') #{warning}
      form(id='register' method='post' action='/signup')
        div
          label(for='fname') Firstname 
          input(type='text' id='fname' name='fname' required)
        div
          label(for='lname') Lastname
          input(type='text' id='lname' name='lname' required)
        div
          label(for='email') Email
          input(type='email' name='email' placeholder='name@school.com' required)
        div
          label(for='telephonenum') Telephone
          input(id='telephonenum' type='text' name='telephonenum' required)
        div
          label(for='schoolname') Schoolname
          input(type='text' id='schoolname' name='schoolname' required)
        div
          label(for='schooladdress') School Address
          input(type='text' name='schooladdress' required)
        div
          label(for='schooltel') School Tel.
          input(id='schooltel' type='text' pattern='[0-9]{3}[ -][0-9]{3}[ -][0-9]{4' name='schooltel' required)
        div
          label(for='accounttype') Account Type
          select(name='accounttype')
            option(name='administrator') Administrator
            option(name='teacher') Teacher
            option(name='parent') Parent
        div
          label(for='password') Password
          input(type='password' id='password' name='password' required)
        div
          label(for='verifypassword') Re-enter Password
          input(type='password' id='verifypassword' name='verifypassword' required)
        div
          input(type='submit' id='submit')
    script(src='../public/javascripts/signup.js')
